html {
  background: repeating-linear-gradient(-30deg, #c9fcff, 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: 10px solid #b3fbff;
  font-family: "Fredoka One", sans-serif;
}
h1 {
  color: #990073;
}

p {
  color: #c09;
}

.btn {
  border-color: #990073;
  color: #c09;
}

.btn-ghost:hover {
  background-color: rgba(153, 0, 115, .2);
  border-color: #990073;
}
